.projetos{
    padding-top: 32px;
    /* background-color: var(--verde-claro); */

}
.projetos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projetos__lista-item {
    display: flex;
    width: 100%;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 32px;

}

.projetos__imagem {
    width: calc(100% - 32px);
    height: 70vh;
    object-fit: cover;
    /* border-radius: 8px; */
    cursor: pointer;
}

.projetos__imagem-ativo {
    opacity: 60%;
    transition: 300ms;
}

.projetos__texto {
    display: none;
}

.projetos__texto-ativo {
    display: flex;
    position: absolute;
    color: #000;
    margin: 8px;
    font-family: var(--familia-corpo);
    text-align: justify;
    font-size: 14px;
    line-height: 1.5;
    text-justify: distribute;
    padding: 16px;
    align-self: flex-start;
    text-shadow: 1px 1px var(--preto-transparente)
}

.projetos__lista-item-titulo {

    font-family: var(--familia-corpo);
    font-size: 24px;
    font-weight: var(--negrito);
    color: var(--cinza-claro);
    position: absolute;
    padding: 16px;
    align-self: end;
    background-color: var(--preto-transparente);
    width: calc(100% - 64px);
    /* border-radius: 0 0 8px 8px; */
    justify-self: center;
}
@media screen and (min-width:768px) {

    .projetos__texto-ativo{
        font-size: 16px;
    }
}
@media screen and (min-width:1024px) {
  

    .projetos__lista{
        justify-content: space-around;
    }

    .projetos__lista-item {
        width: 60%;
        justify-content: center;
        box-shadow: 0px;
    }

    .projetos__titulo {
        margin-left: calc(20% - 16px);
        padding-left: 32px;
    }

    .projetos__imagem{
        width: 100%;
        height: 65vh;
        object-fit: cover;
    }
    .projetos__texto-ativo {
        margin: 32px 21%;
        font-size: 18px;
        line-height: 1.5;
        padding: 0 16px;
    }

    .projetos__lista-item-titulo {
        width: calc(60% - 32px);
    }
}